<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lazywell.android.puydufou">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.write_external_storage"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace='android:icon'
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ShowPlanningActivity"
            android:label="@string/title_activity_show_planning" >
        </activity>
        <activity
            android:name=".activities.ShowDetailsActivity"
            android:label="@string/title_activity_show_details" >
        </activity>
        <activity
            android:name=".activities.PlanningCreatorActivity"
            android:label="@string/title_activity_planning_creator" >
        </activity>

        <meta-data android:name="DATABASE" android:value="test2.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.lazywell.android.puydufou.entities.persistent" />
    </application>

</manifest>
